.container {
  width: 500px;
  margin: auto;
  clear: both;
}

.container input {
  width: 100%;
  box-sizing: border-box;
  clear: both;
}

.submit {
  background-color: #4CAF50;
  overflow: hidden;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  margin-top: 20px;
  width: 100%;
  text-decoration: none;
  font-size: 17px;
}
