<div class="container">
    <!-- <form #registerForm="ngForm"> -->
    <h4>Personal data:</h4>

    <label>E-mail:</label>
    <input type="email" placeholder="Email" [(ngModel)]="email" name="email">
    <br />
    <label>Password:</label>
    <input type="password" placeholder="Password" [(ngModel)]="password" name="password">
    <br />
    <label>Repeat password:</label>
    <input type="repeatPassword" [(ngModel)]="repeatPassword" name="repeatPassword">
    <br />
    <label>First name:</label>
    <input type="text" placeholder="John" [(ngModel)]="name.first" name="firstName">
    <br />
    <label>Last name:</label>
    <input type="text" placeholder="Smith" [(ngModel)]="name.last" name="lastName">
    <br />
    <label>Phone number:</label>
    <input type="text" placeholder="(212) 555-55-55" [(ngModel)]="phone" name="phone">
    <br />
    <label>Referral:</label>
    <input type="text" placeholder="Friend" [(ngModel)]="referral" name="referral">

    <h4>Rental responsibility:</h4>

    <label>Name:</label>
    <input type="text" placeholder="John" [(ngModel)]="rentalResponsibility.name" name="rentalResponsibilityName">
    <br />
    <label>Address:</label>
    <input type="text" placeholder="711-2880 Nulla St. 96522" [(ngModel)]="rentalResponsibility.address"
        name="rentalResponsibilityAddress">
    <br />
    <label>Driver's License:</label>
    <input type="text" placeholder="123 456 789" [(ngModel)]="rentalResponsibility.driversLicense"
        name="rentalResponsibilityDriversLicense">
    <br />
    <label>Driver's license issue state:</label>
    <input type="text" placeholder="PA, USA" [(ngModel)]="rentalResponsibility.licenseState"
        name="rentalResponsibilityLicenseState">
    <button class="submit" (click)="onSubmit()">Submit</button>
    <!-- </form> -->
</div>