<div class="container">
    <label>E-mail:</label>
    <input type="email" placeholder="Email" [(ngModel)]="email" name="email">
    <br />
    <label>Password:</label>
    <input type="password" placeholder="Password" [(ngModel)]="password" name="password">
    <br />
    <button class="submit" (click)="onSubmit()">Log in</button>
</div>