<div>
    <h2>Welcome, {{user?.name?.first}}</h2> <!-- TODO: user is undefined on init -->

    <h3>Here are your members:</h3>

    <div class="container">

        <div *ngFor="let skier of user.skiers">
            <h4>{{skier.name.first}} {{skier.name.last}}</h4>

            <!-- DOB datepicker -->
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>DOB:</mat-label>
                <input matInput [matDatepicker]="dobPicker" [(ngModel)]="skier.dob">
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #dobPicker></mat-datepicker>
            </mat-form-field>
            <br />

            <!-- Book days datepicker -->
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Desired days:</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="skier.dob">
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

    </div>

</div>