<div class="topnav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a routerLink="/book" *ngIf="authService.isLoggedIn" routerLinkActive="active">Book</a>
    <a routerLink="/contact" routerLinkActive="active">Contact us</a>
    <div class="topnav-right">
        <a routerLink="/login" routerLinkActive="active" *ngIf="!authService.isLoggedIn">Log in</a>
        <a (click)="logoutClick()" *ngIf="authService.isLoggedIn">Log out</a>
        <a routerLink="/register" *ngIf="!authService.isLoggedIn" routerLinkActive="active">Sign up</a>
    </div>

</div>